!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title
      ChatSpace
    %link{rel: "stylesheet", href: "application.scss"}
  %body
    .blue-box
      .notification グループを作成しました
    .wrapper
      .chat-side
        .side-header
          .side-header__box
            %p.side-header__box__username Sample
            %ul.side-header__box__option
              %li.side-header__box__option__newgroup
                = link_to "/groups/new" do
                  %i{class: "fa fa-edit"}
              %li.side-header__box__option__edit
                = link_to "/users/edit" do
                  %i{class: "fa fa-cog"}
        .side-main
          .group
            %p.group__name Sample-Group
            %p.group__last-message Sample-message
      .chat-main
        .main-header
          .main-header__group-detail
            %h2.main-header__group-detail__current-group Sample-Group
            %ul.main-header__group-detail__member-list
              %li.main-header__group-detail__member-list__heading
              Member :
              %li.main-header__group-detail__member-list__member Yuki
          .main-header__edit-button Edit
        .messages
          .message
            .message__detail
              %p.message__detail__whose-message Yuki
              %p.message__detail__date 2019/03/14(Thu) 14:40:10
            %p.message__text Hello!
        .form
          %form.new-message
            .input-box
              %input{class: "input-box__text", placeholder: "type a message"}
              %label{class: "input-box__image"}
                %i{class: "fa fa-image"}
                %input{class: "input-box__image__file", type: "file"}
            %input{class: "submit-button", value: "Send"}
