.notification {
  .notice {
    background-color: $mainBlueColor;
    color: $mainWhiteColor;
    text-align: center;
  }

  .alert {
    background-color: $alert_orange;
    color: $mainWhiteColor;
    text-align: center;
  }
}
