.blue-box{
  color: white;
  font-size: 1rem;
  text-align: center;
  width: 100vw;
  font-weight: lighter;
  .notification{
    background-color: #38AEF0;
  }
}

.chat-side {
   float: left;
   width: 300px;
   height: 100vh;
   .side-header {
     background-color: #253141;
     height: 100px;
     display: flex;
     align-items: center;
     padding: 0 20px;
     &__box {
       display: flex;
       justify-content: space-between;
       width: 100%;
       font-weight: bold;
       &__username {
         color: $mainWhiteColor;
         font-size: 16px
       }
       &__option {
         display: flex;
         &__newgroup, &__edit {
           margin-left: 0.3rem;
           a {
             color: white;
           }
         }
       }
     }
  }
   .side-main {
     background-color: #2f3e51;
     height: calc(100vh - 100px);
     padding: 20px 20px 0;
     .group {
